<div id="category-section" class="p-1">
  <h4 class="fw-bold">Choose Category</h4>
  <div class="category-list">
    <div class="category-item" (click)="selectCategory('Roses')">
      <img src="/asset/Roses.jpg" alt="Roses">
      <span>Roses</span>
    </div>
    <div class="category-item" (click)="selectCategory('Tulips')">
      <img src="/asset/Tulips.jpg" alt="Tulips">
      <span>Tulips</span>
    </div>
    <div class="category-item" (click)="selectCategory('Lilies')">
      <img src="/asset/Lilies.jpg" alt="Lilies">
      <span>Lilies</span>
    </div>
    <div class="category-item" (click)="selectCategory('Orchids')">
      <img src="/asset/Orchids.jpg" alt="Orchids">
      <span>Orchids</span>
    </div>
    <div class="category-item" (click)="selectCategory('Peonies')">
      <img src="/asset/Peonies.jpg" alt="Peonies">
      <span>Peonies</span>
    </div>
  </div>
</div>
